## Data Wrangler Data Prep Widget - Example Notebook

By `import sagemaker_datawrangler` we are enabling the interactive data preparation assistant widget for Pandas dataframe in Amazon SageMaker Studio Notebooks

In [2]:
import pandas as pd
import boto3
import io
import sagemaker_datawrangler

For our use case, we use of a modified version of the [Titanic dataset](https://www.openml.org/search?type=data&sort=runs&id=40945&status=active), a popular dataset in the ML community, which has now been added as a sample dataset, so you can get started with SageMaker Data Wrangler quickly. The original [dataset](https://www.openml.org/search?type=data&sort=runs&id=40945&status=active) was obtained from [OpenML](https://www.openml.org/), and modified to add synthetic data quality issues by Amazon for this demo. You can download the modified version of dataset from public S3 path s3://sagemaker-sample-files/datasets/tabular/dirty-titanic/titanic-dirty-4.csv


Read the dataset with `pandas`

In [3]:
s3 = boto3.client("s3")
obj = s3.get_object(
    Bucket="sagemaker-sample-files", Key="datasets/tabular/dirty-titanic/titanic-dirty-4.csv"
)
df = pd.read_csv(io.BytesIO(obj["Body"].read()))

When you run the cell below to display the data frame, the widget will automatically show key data visualizations at the top of each column, surface data insights, detects data quality issues, apply solutions to improve data quality and generating code in the notebook to reproduce the data preparation steps.

Please refer to the guides we provide in the documentation for more details about the widget.

In [4]:
df

      index survived    pclass  \
0         1        1  2.015743
1         2        1  2.015743
2         3        0  2.015743
3         4        0  2.015743
4         5      yes  2.015743
...     ...      ...       ...
1434   1435        1  2.015743
1435   1436        0  2.015743
1436   1437        0  2.015743
1437   1438        0  2.015743
1438   1439        1  2.006361

                                                 name     sex        age  \
0                                                 NaN  female  24.887889
1                      Allison, Master. Hudson Trevor    male  67.031681
2                        Allison, Miss. Helen Loraine  female  48.575589
3                Allison, Mr. Hudson Joshua Creighton    male  21.902505
4     Allison, Mrs. Hudson J C (Bessie Waldo Daniels)     NaN  26.354627
...                                               ...     ...        ...
1434                Kenyon, Mrs. Frederick R (Marion)    male  69.750430
1435                              Doharr, Mr. Tannous    male        NaN
1436                     Heininen, Miss. Wendla Maria    male  67.777006
1437                             Drazenoic, Mr. Jozef     NaN  31.124358
1438                                              NaN  female   5.491100

         sibsp     parch       ticket        fare    cabin embarked boat  \
0     2.490834  6.024740        24160  391.459893      NaN        S    2
1     0.104584       NaN       113781  309.620089  C22 C26        S   11
2     3.327452       NaN       113781  146.028350  C22 C26        S  NaN
3     6.350359  1.421032       113781   97.055688      NaN        S  NaN
4     5.110333  5.677004       113781  310.389207      NaN        S  NaN
...        ...       ...          ...         ...      ...      ...  ...
1434       NaN  1.537755  S.O./P.P. 3         NaN      D21        S  NaN
1435  3.208269  0.992970       349204  486.316100      NaN        C    C
1436  6.023997  7.643576       250648  434.741626      NaN        S    5
1437  6.627909  8.125438       367231  511.229957      NaN        C  NaN
1438       NaN  4.161285   C.A. 29566  478.988944      NaN        S  NaN

            body                          home.dest month_of_departure
0     261.921596                       St Louis, MO              April
1     111.211895    Montreal, PQ / Chesterville, ON              April
2     153.733101    Montreal, PQ / Chesterville, ON              April
3      79.184751    Montreal, PQ / Chesterville, ON              April
4     252.545588    Montreal, PQ / Chesterville, ON              April
...          ...                                ...                ...
1434  310.127802      New York, NY / Washington, DC              April
1435   96.985291                                NaN              April
1436  304.969620                       New York, NY              April
1437   81.532885              Sweden  Worcester, MA              April
1438  319.737071  Strood, Kent, England Detroit, MI              April

[1439 rows x 16 columns]

Each column shows a bar chart or histogram based on the data type. By default, the widget samples up to 10,000 observations for generating meaningful insights. It also provides the option to run the insight analysis on the entire dataset.

For categorical data, the widget generates the bar chart with all the categories. In the following screenshot, for example, the column "sex" identifies the categories on the data. You can hover over the bar (male in this case) to see the details of these categories, like the total number of rows with the value male and its distribution in the total visualized dataset (64.07% in this example). It also highlights the total percentage of missing values in a different color for categorical data. For quantitative data like the "ticket" column, it shows distribution along with the percentage of invalid values.


<img src="images/Categoricaldata.png" width="325"/> <img src="images/Categoricaldata2.png" width="305"/> <img src="images/Categoricaldata3.png" width="400"/>

The Insights tab provides details with descriptions for each column. This section lists aggregated statistics, such as mode, number of uniques, ratios and counts for missing/invalid values, etc., as well as visualize data distribution with help of a histogram or a bar chart. In the following screenshots, you can check out the data insights and distribution information displayed with easily understandable visualizations generated for the selected column "survived"

<img src="images/insights.png" width="325"/> <img src="images/distribution.png" width="300"/> <img src="images/uniquevalues.png" width="400"/>

The studio data prep widget highlights identified data quality issues with the warning sign in the header. Widget can identify the whole spectrum of data quality issues from basics (missing values, constant column, etc.) to more ML specific (target leakage, low predictive score features, etc.). Widget highlights the cells causing the data quality issue and reorganize the rows to put the problematic cells at the top. To remedy the data quality issue widget provides several transformers, applicable on a click of a button.

To explore the data quality section, choose the column header, and in the side panel, choose the Data quality tab. You should see the following in your Studio environment.

![alt text](images/survived-dataquality.png "Data Issue Warnings")

Let’s look at the different options available on the Data quality tab. For this example, we choose the age column, which is detected as a quantitative column based on the data. As we can see in the following screenshot, this widget suggests different type of transformations that you could apply, including the most common actions, such as Replace with new value, Drop missing, Replace with median, or Replace with mean. You can choose any of those for your dataset based on the use case (the ML problem you’re trying to solve). It also gives you the Drop column option if you want to remove the feature altogether.

![alt text](images/dataqualityoptions.png "Set as a Target Column")

When you choose Apply and export code, the transform is applied to the deep copy of the data frame. After the transform is applied successfully, the data table is refreshed with the insights and visualizations. The transform code is generated after the existing cell in the notebook. You can run this exported code later on to apply the transformation on your datasets, and extend it as per your needs. You can customize the transformation by directly modifying the generated code. If we apply the Drop missing option in the Age column, the following transformation code is applied to the dataset, and code is also generated in a cell below the widget:

In [5]:
# Pandas code generated by sagemaker_datawrangler
output_df = df.copy(deep=True)

# Code to Drop missing for column: age to resolve warning: Missing values
output_df = output_df[output_df["age"].notnull()]

The following is generated code for example of a code snippet for Replace with new value:

In [6]:
# Pandas code generated by sagemaker_datawrangler
output_df = df.copy(deep=True)


# Code to Replace with new value for column: age to resolve warning: Missing values
generic_value = 0
output_df["age"] = output_df["age"].fillna(generic_value)

The following is another example of a code snippet for Replace with median:

In [7]:
# Pandas code generated by sagemaker_datawrangler
output_df = df.copy(deep=True)

# Code to Replace with median for column: age to resolve warning: Missing values
output_df["age"] = output_df["age"].fillna(output_df["age"].median(skipna=True))

You can view the results of the applied transform directly on the table. The widget automatically generates Pandas or PySpark code in the Notebook on a new cell.

Now let’s look at the data prep widget’s target insight capability. Assume you want to use the survived feature to predict if a passenger will survive. Choose the survived column header. In the side panel, choose Select as target column. The ideal data distribution for the survived feature should have only two classes: yes (1) or no (0), which helps classify the Titanic crash survival chances. However, due to data inconsistencies in the chosen target column, the survived feature has 0, 1, ?, unknown, and yes.

The data prep widget lists the target column insights with recommendations and sample explanations to solve the issues with the target column data quality. It also automatically highlights the anomalous data in the column.

![alt text](images/dataquality.png "Apply and export code")

We choose the recommended transform Drop rare target values, because there are fewer observations for the rare target values.

In [8]:
# Pandas code generated by sagemaker_datawrangler
output_df = df.copy(deep=True)

# Code to Drop rare target values for column: survived to resolve warning: Too few instances per class
rare_target_labels_to_drop = ["?", "unknown", "yes"]
output_df = output_df[~output_df["survived"].isin(rare_target_labels_to_drop)]

If you want to see a standard [pandas](https://pandas.pydata.org/) visualization in the notebook, you can choose View the Pandas table and toggle between the widget and the Pandas representation, as shown in the following screenshot.

In [9]:
df

      index survived    pclass  \
0         1        1  2.015743
1         2        1  2.015743
2         3        0  2.015743
3         4        0  2.015743
4         5      yes  2.015743
...     ...      ...       ...
1434   1435        1  2.015743
1435   1436        0  2.015743
1436   1437        0  2.015743
1437   1438        0  2.015743
1438   1439        1  2.006361

                                                 name     sex        age  \
0                                                 NaN  female  24.887889
1                      Allison, Master. Hudson Trevor    male  67.031681
2                        Allison, Miss. Helen Loraine  female  48.575589
3                Allison, Mr. Hudson Joshua Creighton    male  21.902505
4     Allison, Mrs. Hudson J C (Bessie Waldo Daniels)     NaN  26.354627
...                                               ...     ...        ...
1434                Kenyon, Mrs. Frederick R (Marion)    male  69.750430
1435                              Doharr, Mr. Tannous    male        NaN
1436                     Heininen, Miss. Wendla Maria    male  67.777006
1437                             Drazenoic, Mr. Jozef     NaN  31.124358
1438                                              NaN  female   5.491100

         sibsp     parch       ticket        fare    cabin embarked boat  \
0     2.490834  6.024740        24160  391.459893      NaN        S    2
1     0.104584       NaN       113781  309.620089  C22 C26        S   11
2     3.327452       NaN       113781  146.028350  C22 C26        S  NaN
3     6.350359  1.421032       113781   97.055688      NaN        S  NaN
4     5.110333  5.677004       113781  310.389207      NaN        S  NaN
...        ...       ...          ...         ...      ...      ...  ...
1434       NaN  1.537755  S.O./P.P. 3         NaN      D21        S  NaN
1435  3.208269  0.992970       349204  486.316100      NaN        C    C
1436  6.023997  7.643576       250648  434.741626      NaN        S    5
1437  6.627909  8.125438       367231  511.229957      NaN        C  NaN
1438       NaN  4.161285   C.A. 29566  478.988944      NaN        S  NaN

            body                          home.dest month_of_departure
0     261.921596                       St Louis, MO              April
1     111.211895    Montreal, PQ / Chesterville, ON              April
2     153.733101    Montreal, PQ / Chesterville, ON              April
3      79.184751    Montreal, PQ / Chesterville, ON              April
4     252.545588    Montreal, PQ / Chesterville, ON              April
...          ...                                ...                ...
1434  310.127802      New York, NY / Washington, DC              April
1435   96.985291                                NaN              April
1436  304.969620                       New York, NY              April
1437   81.532885              Sweden  Worcester, MA              April
1438  319.737071  Strood, Kent, England Detroit, MI              April

[1439 rows x 16 columns]